.description {
  text-align: center;
}

.description {
  margin-top: 4rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: #ffffff80;
  border-radius: 10px;
  width: auto;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardHeader img {
  object-fit: cover;
  border-radius: 50%;
}

.card h2 {
  font-size: 1.5rem;
  color: #000;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .description {
    line-height: 1;
    font-size: 1rem;
  }
}
